* {/*HTMLבורר תווים כלליים שמתאים לכל רכיב בדף*/
  padding: 0;/*משנה את הרווח בין אלמנטים*/
  margin: 0;/*משנה את החלל מחוץ לגבול של אלמנט*/
  box-sizing: border-box;/*משנה את מודל התיבה המשמש את הדפדפן לחישוב הרוחב והגובה של אלמנטים*/
}

body {/*body-משנה את האלמנט ב*/
  margin: 0;
  padding: 0;
  background: url('/img/bimg.jpg') center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {/*header-משנה את האלמנט ב*/
  background-color: rgba(15, 17, 19, 0.504);/*מגדיר את צבע הרקע*/
  text-align: center;/*מיישר את הטקסט בצורה אופקית*/
  padding: 10px;/*משנה את הרווח בין אלמנטים*/
  margin-bottom: 2%;/*קובע את השוליים התחתונים*/
}

#menu{/*idמשנה את האלמנטים של ה*/
  list-style-type: none;/*מסיר את ברירת המחדל של סגנון הרשימה*/
  display: flex;/*מפעיל את פריסת Flexbox*/
  justify-content: center;/*מיישר את הפריטים הגמישים לאורך הציר הראשי ומרכזם*/
}

#menu li {/* idבתוך ה liמשנה את האלמנטים של ה*/
  padding: 2px;
}

#menu li a {/* idה liבתוך ה aמשנה את האלמנטים של ה*/
  color: rgb(255, 255, 255);/*מגדיר את הצבע */
  text-decoration: none;/*מסיר את עיטור הטקסט המוגדר כברירת מחדל*/
  padding: 5px 6px;/*משנה את הריפוד התחתון עליון ואת הריפוד השמאלי ימני*/
  text-align: center;/*מיישר את הטקסט בצורה אופקית*/
  font-weight: 500;/*מגדיר את העובי המודגש של הגופן*/
  font-size: 18px;/*מגדיר את גודל הגופן*/
  transition: 0.3s;/*מוסיף אפקט מעבר*/
}

#menu li a:hover {/* מתי שמרחפים מעלו idה liבתוך ה aמשנה את האלמנטים של ה*/
  font-weight: bolder;/*מגדיר את העובי המודגש של הגופן*/
  color: rgb(255, 255, 255);/*מגדיר את הצבע */
  scale: (1.02);/*משנה את הגודל*/
}

.bp {/*classמשנה את האלמנטים של ה*/
  color: rgb(0, 0, 0);/*מגדיר את הצבע */
  background-color: rgba(240, 248, 255, 0.504);/*מגדיר את צבע הרקע*/
  max-width: 1000px;/*משנה את הרוחב מקסימלי*/
  font-weight: bold;/*מגדיר את העובי המודגש של הגופן*/
  margin: 0 auto;/*מגדיר את השוליים מעלה מעתה ל-0 ואת השוליים השמאלה ימינה למרכז את עצמם*/
  font-size: 18px;/*מגדיר את גודל הגופן*/
  padding: 20px;/*משנה את הרווח בין אלמנטים*/
}
.bp2{/*classמשנה את האלמנטים של ה*/
  position: absolute;
  top: 30px;/*מגדיר את המרחק ביחס לקצה העליון של האלמנט המכיל או לאב הקדמון הממוקם הקרוב ביותר שלו*/
  font-size: 18px;/*מגדיר את גודל הגופן*/
  color: rgb(0, 0, 0);/*מגדיר את הצבע */
  width: 80%;/*משנה את הרוחב*/
  font-weight: bold;/*מגדיר את העובי המודגש של הגופן*/
  padding: 10px;/*משנה את הרווח בין אלמנטים*/
  display: block;/*גורם לאלמנט להתחיל בקו חדש ובדרך כלל להימתח במלואו*/
  margin: 0 auto;/*מגדיר את השוליים מעלה מעתה ל-0 ואת השוליים השמאלה ימינה למרכז את עצמם*/
}

#home-buttons{/*idמשנה את האלמנטים של ה*/
  display:flex;/*מפעיל את פריסת Flexbox*/
}
#home-buttons button{/*idמשנה את האלמנט של הכפתור בתוך ה*/
  padding: 2vh;/*משנה את הרווח בין אלמנטים*/
  border-radius: 10px;/*יוצר פינות מעוגלות לגבול של אלמנט*/
  font-size: 20px;/*מגדיר את גודל הגופן*/
  font-weight: 600;/*מגדיר את העובי המודגש של הגופן*/
  border: none;/*משמש להסרת כל גבול*/
  background-color: rgb(65, 224, 171);/*מגדיר את צבע הרקע*/
  color: white;/*מגדיר את הצבע */
  cursor: pointer;/*משמש לשינוי המראה של סמן העכבר*/
  width: 100%;
}

#stop-button{
  display: none;
}
#saveButton{
  display:none;
}
#contenue{
  display:none;
}
#delete{
  display:none;
}

footer {/*footer-משנה את האלמנט ב*/
  margin-top: auto;
  background-color: rgba(15, 17, 19, 0.504);/*מגדיר את צבע הרקע*/
  color: white;/*מגדיר את הצבע */
  text-align: center;/*מיישר את הטקסט בצורה אופקית*/
  padding: 10px;/*משנה את הרווח בין אלמנטים*/
  font-size: 10px;
  background-position-y:bottom;
  width: 100%;/*משנה את הרוחב*/
  font-weight: bold;/*מגדיר את העובי המודגש של הגופן*/
}

#all-galley{/*idמשנה את האלמנטים של ה*/
  display: flex;/*מפעיל את פריסת Flexbox*/
  justify-content: space-between;/*מחלק באופן שווה את החלל הפנוי בין הפריטים לאורך הציר הראשי*/
}

#photos-gallery{/*idמשנה את האלמנטים של ה*/
  background-color: rgba(15, 17, 19, 0.504);/*מגדיר את צבע הרקע*/
  width: 45%;/*משנה את הרוחב*/
  display: flex;/*מפעיל את פריסת Flexbox*/
  flex-direction: row;/*מגדיר את כיוון הציר הראשי להיות אופקי*/
  flex-wrap: wrap;/*מאפיין זה מאפשר למיכל הגמיש לעטוף את הפריטים שלו אם הם חורגים מרוחב המיכל*/
  justify-content: space-around;/*מיישר את הפריטים הגמישים לאורך הציר הראשי ומחלק את החלל סביב הפריטים*/
}
.column {/*classמשנה את האלמנטים של ה*/
  padding: 0px;/*משנה את הרווח בין אלמנטים*/
  margin-bottom: 1%;/*קובע את השוליים התחתונים*/
  margin-top: 1%;/*מגדיר את השוליים העליונים של אלמנט*/
  transition: 0.3s;/*מוסיף אפקט מעבר*/
  cursor: pointer;/*משמש לשינוי המראה של סמן העכבר*/
}

.column:hover{/*מתי שמרחפים מעלו classמשנה את האלמנטים של ה*/
  transform: scale(1.1);/*משמש לשינוי קנה מידה של אלמנט*/
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);/*משמש להוספת אפקט צל*/
}





#vid-sec{/*idמשנה את האלמנטים של ה*/
  padding: 0px;/*משנה את הרווח בין אלמנטים*/
  margin-bottom: 1%;/*קובע את השוליים התחתונים*/
  margin-top: 1%;/*מגדיר את השוליים העליונים של אלמנט*/
  transition: 0.3s;/*מוסיף אפקט מעבר*/
}

.login-container {/*classמשנה את האלמנטים של ה*/
width: 90%;/*משנה את הרוחב*/
margin: 0 auto;/*מגדיר את השוליים מעלה מעתה ל-0 ואת השוליים השמאלה ימינה למרכז את עצמם*/
background: rgba(15, 17, 19, 0.504);/*מגדיר את צבע הרקע*/
text-align: center;/*מיישר את הטקסט בצורה אופקית*/
border: 1px solid #ccc;/*מגדיר את רכיב הגבול*/
padding: 20px;/*משנה את הרווח בין אלמנטים*/
border-radius: 5px;/*יוצר פינות מעוגלות לגבול של אלמנט*/
}
.login-container input{/* idבתוך ה inputמשנה את האלמנטים של ה*/
  padding: 5px;/*משנה את הרווח בין אלמנטים*/
  font-size: 100%;/*מגדיר את גודל הגופן*/
  margin-bottom: 1%;/*קובע את השוליים התחתונים*/
  border-radius: 5px;/*יוצר פינות מעוגלות לגבול של אלמנט*/
  border: none;/*משמש להסרת כל גבול*/
}
.login-container input:focus{/* כאשר הוא בפוקוס או קיבל פוקוס מהמשתמש idבתוך ה inputמשנה את האלמנטים של ה*/
  background-color: aquamarine;/*מגדיר את צבע הרקע*/
}
.login-container input:valid{/* כאשר הוא נחשב תקף על פי כללי האימות המוגדרים שלו idבתוך ה inputמשנה את האלמנטים של ה*/
  background-color: aquamarine;/*מגדיר את צבע הרקע*/
}
.login-container button{/*classמשנה את האלמנט של הכפתור בתוך ה*/
  padding: 5px;/*משנה את הרווח בין אלמנטים*/
  font-size: 20px;/*מגדיר את גודל הגופן*/
  background-color: aquamarine;/*מגדיר את צבע הרקע*/
  border: none;/*משמש להסרת כל גבול*/
  cursor: pointer;/*משמש לשינוי המראה של סמן העכבר*/
  font-weight: 600;/*מגדיר את העובי המודגש של הגופן*/
  border-radius: 5px;/*יוצר פינות מעוגלות לגבול של אלמנט*/
}

.stat-box{/*classמשנה את האלמנטים של ה*/
  background: linear-gradient(90deg, rgb(108, 108, 110) 0%, rgb(176, 176, 187) 44%, rgba(149,160,162,1) 100%);
  color: rgb(10, 10, 10);
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  max-width: 300px; 
}

#map {/*idמשנה את האלמנטים של ה*/
  position:absolute;
  height: 100vh; /* Full height of the viewport */
  width: 100%;   /* Full width of the viewport */
}
#maps {/*idמשנה את האלמנטים של ה*/
  display: none;
  background-color: aliceblue;
  height: 50vh;
  margin-bottom: 5%;
}

#callmap{
  display: none;
  margin: 0 auto;
}

#disappear3{/*idמשנה את האלמנטים של ה*/
position:fixed;/*משמש למיקום אלמנט ביחס לחלון הדפדפן או לנקודת התצוגה*/
right: 0.5px;/*מגדיר את המרחק של הקצה הימני של האלמנט*/
}

#videos-gallery {
  display: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  padding: 10px; /* Add padding for spacing */
  
}



#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the images horizontally */
  max-height: 300px; /* Set a maximum height for the container */
  overflow: auto; /* Enable scrollbars if content exceeds the container */
}

#imageContainer img {
  max-width: 400px; /* Set a maximum width for the images */
  max-height: 400px; /* Set a maximum height for the images */
  margin: 5px; /* Add margin between images */
}

#onef{
  margin-left: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  transition: 0.3s;/*מוסיף אפקט מעבר*/
}


#oneb {
  margin-left: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  transition: 0.3s;/*מוסיף אפקט מעבר*/
}

#piezo{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  color: #0c0c0c;
  background-color: #940e0e;
}


#ridestats{
  display: none;
}

.stat-ride{/*classמשנה את האלמנטים של ה*/
  background: linear-gradient(90deg, rgb(108, 108, 110) 0%, rgb(176, 176, 187) 44%, rgba(149,160,162,1) 100%);
  color: rgb(10, 10, 10);
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  max-width: 300px; 
  margin: 0 auto;/*מגדיר את השוליים מעלה מעתה ל-0 ואת השוליים השמאלה ימינה למרכז את עצמם*/
  text-align: center;/*מיישר את הטקסט בצורה אופקית*/
}
#back{
  margin-right: auto;
  display: none;
}
#newride{
  background: linear-gradient(90deg, rgb(108, 108, 110) 0%, rgb(176, 176, 187) 44%, rgba(149,160,162,1) 100%);
  color: rgb(10, 10, 10);
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  max-width: 300px; 
  display: none ;
  margin: 0 auto;/*מגדיר את השוליים מעלה מעתה ל-0 ואת השוליים השמאלה ימינה למרכז את עצמם*/
  text-align: center;/*מיישר את הטקסט בצורה אופקית*/
}

.bottom-stats{
position: absolute;
bottom: 0%;
width: 100%;
}
.stats-divider{
  
display: flex;
}

.upper-stats{
  background:#000000;
  display: flex ;
  position: absolute;
  top: 0%;
  width: 100%;
}

#timer{
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  max-width: 300px; 
  max-height: 300px;
  font-size: 4vh;
  margin-top: 5px;
  text-align: center;
}
.kmh-box{
  margin-right: 1vh;
  font-size: 4vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 40px;
  background-color: #000000;
  width: 8vh; 
  height: 8vh;
  padding: 5px 5px;
}

.heartcontaner{
  position: relative;
  text-align: center;
}

.heart {
  display: block;
  width: 100%;
  position: relative;
}

#bpm{
  font-size: 4vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}